<h1>Form di inserimento</h1>

<p>
  Nome:
  <input type="text" #nome>
</p>
<p>
  Cognome:
  <input type="text" #cognome>
</p>
<p>
  Indirizzo:
  <input type="text" #inidirzzo>
</p>
<p>
  Telefono:
  <input type="number" #telefono>
</p>
<p>
  Email:
  <input type="text" #email>
</p>
<p>
  Data Prenotazione:
  <input type="date" #data>
</p>
<p>
  Ora Prenotazione:
  <input type="time" #ora>
</p>

<div>
  @for(pre of vettPrenotazioni; track pre)
  {
    <br>
    <hr>
    <p>{{pre.nome}}</p>
    <p>{{pre.cognome}}</p>
    <p>{{pre.indirizzo}}</p>
    <p>{{pre.telefono}}</p>
    <p>{{pre.email}}</p>
    <p>{{pre.data}}</p>
    <p>{{pre.ora}}</p>
  }
</div>